*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    margin:70px 0 0 450px;
}
.box-1{
    width: 75px;
    height: 75px;
    background-color:#eeeebe;
    float: left;
    font-size: 55px;
    text-align: center;
    line-height: 75px;
}
.box-2{
    width: 75px;
    height: 75px;
    background-color:#769656;
    float: left;
    font-size: 55px;
    text-align: center;
    line-height: 75px;
}
.clear-float{
    clear:both;
}